@{
    ViewBag.Title = "Panel del Técnico";
}

<div class="container mt-5">
    <h1 class="text-center mb-4 text-primary">Panel del Técnico</h1>

    <div class="row justify-content-center">

        <div class="col-md-4 mb-3">
            <a href="@Url.Action("MisOrdenes","Ordenes")"
               class="btn btn-success w-100 p-4 shadow">
                🛠️ Mis Órdenes de Trabajo
            </a>
        </div>

    </div>
</div>
